<header>
    <div class="header-container">
        <div class="logo">
            <h1>MovieFlix</h1>
        </div>
        <nav class="main-nav">
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/series">Séries</a></li>
                <li><a href="/filmes">Filmes</a></li>
                <li><a href="/originais">Originais</a></li>
                <li><a href="/novidades">Novidades</a></li>
            </ul>
        </nav>
        <a href="/register-movie" class="register-button">Adicionar Filme</a>
        <div class="user-area">
            <div class="search">
                <input type="text" placeholder="🔎 Buscar..." >
            </div>
            <div class="user-profile">
                <img src="/images/avatar.png" alt="Perfil">
            </div>
        </div>
    </div>
</header>