<header>
    <div class="header-container">
        <div class="logo">
            <h1>MovieFlix</h1>
        </div>
        <nav class="main-nav">
            <ul>
                <li><a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Início</a></li>
                <li><a [routerLink]="['/series']" routerLinkActive="active">Séries</a></li>
                <li><a [routerLink]="['/filmes']" routerLinkActive="active">Filmes</a></li>
                <li><a [routerLink]="['/originais']" routerLinkActive="active">Originais</a></li>
                <li><a [routerLink]="['/novidades']" routerLinkActive="active">Novidades</a></li>
            </ul>
        </nav>
        <a [routerLink]="['/register-movie']" class="register-button">Adicionar Filme</a>
        <div class="user-area">
            <div class="search">
                <input type="text" placeholder="🔎 Buscar..." >
            </div>
            <div class="user-profile">
                <img src="/images/avatar.png" alt="Perfil">
            </div>
        </div>
    </div>
</header>