.login{
    background-image: url('/images/the_netflix_login_background__canada__2024___by_logofeveryt_dh0w8qv-fullview.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    opacity: 0.3;
}

.login-page-content{
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    
}