.movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
  justify-items: center;
  align-items: center;
}

@media (min-width: 1200px) {
  .movies-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1199px) and (min-width: 976px) {
  .movies-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 975px) and (min-width: 654px) {
  .movies-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 653px) {
  .movies-container {
    grid-template-columns: 1fr;
  }
}
