header{
    height: 100px;
    width: 100%;
    
}

h1 {
    font-weight: 900; /* peso da fonte mais forte */
    color: #E50914; /* vermelho Netflix */
    font-size: 2.5rem; /* tamanho da fonte maior */
    text-transform: uppercase; /* texto em maiúsculas */
    letter-spacing: -1px; /* espaçamento entre letras mais próximo */
    display: flex;
    align-items: center;
    padding-left: 5%;
    height: 100%;
    width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* sombra sutil */

}